.products h1 {
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.products ul {
  width: 95%;
  margin: 2rem 75px;
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}