.header {
  width: 100%;
  height: 75px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #041c32;
  color: #fff;
}

@media (max-width: 550px) {
  .header {
    height: 60px;
    width: 550px;
  }
  .header h1 {
    font-size: 22px;
  }
}
